/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Screen reader
  */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

.bg-img {
  background: url("bg-01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(255, 255, 255, 0.8);
}

h1 {
  font-size: 40px;
  padding-bottom: 70px;
  text-transform: uppercase;
  text-align: center;
}

.radio-wrapper {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
  padding-bottom: 38px;
}

.show-quote {
  display: none;
}

.form-wrapper {
  width: 500px;
  background: linear-gradient(45deg, #56ab2f, #a8e063);
  border-radius: 10px;
  padding: 72px 55px 65px 55px;
}

.form-input-wrapper {
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.24);
  margin-bottom: 27px;
}

.form-input {
  display: block;
  width: 100%;
  background: transparent;
  /* font-family: Poppins-Regular; */
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  padding: 12px 0;
  border: none;
}

.contact-form input,
.contact-form textarea {
  font-size: 15px;
}

.contact-form textarea {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.button-wrapper {
  padding-top: 23px;
}

.contact-form button {
  /* font-family: Poppins-Medium; */
  font-size: 16px;
  color: #555555;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  min-width: 120px;
  height: 50px;
  border-radius: 2px;
  transition: all 0.4s;
  border: none;
}

.contact-form button:hover {
  cursor: pointer;
  color: white;
  background: linear-gradient(-135deg, #56ab2f, #a8e063);
}
